#RefreshButton {
    color: white;
    -unity-text-align: lower-center;
}

#AssetsLabel {
    color: lawngreen;
    overflow: hidden;
    flex: 0 1 auto;
    margin-left: 3;
}

#HorizontalHolder {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}